
{
  "haproxy": [
    {
      "app_name":"{{appname}}"
      "host_name"  : "{{haporxyhostname}}",
      "host_ip"    : "{{haproxyip}}",
      "port"    : "80",
      "kairodb_host"    : "{{tsdbhost}}",
      "kairodb_port"    : "{{tsdbport}}",
      "time_interval"   : "5000"
    }
  ]
}

