<!DOCTYPE html>
<html>
<head>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- <link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="js/n42App.js"></script>

</head>
<body class="svc">
	<div align="center" ng-app="myApp" ng-controller="myCtrl">
		<br>
			<input type="radio"  name="somethign"  ng-click="serviceVersionComparator()"
				ng-model="showHideRadio"/> Services Version Comparator <input
				type="radio" name="somethign" ng-click="applicationVersionComparator()" ng-model="showHideRadio"
				 /> Application Version Comparator
		<br><br>
		<div ng-show="showHideRadio">
			<table class="table table-striped table-bordered">
				<!-- table for displaying versions -->
				<tr>
					<th class="col-sm-2">Application Version</th>
					<th class="col-sm-2">Release date</th>
				</tr>
				<tr ng-repeat="name in serviceArray track by $index">

					<td><label> <input type="radio" name="versions"
							value="{{name.appVersion}}" ng-click="selectedServiceApplicationVersion(name)">{{name.appVersion}}
					</label></td>
					<td>{{name.ReleaseDate}}</td>
				</tr>
			</table>
			<!-- End table for displaying versions -->
		
		<table border="0">
			<tr>
				<td class="tabled" ng-show="showService"><label
					class="bluefont"> Select Service:</label> <select
					ng-model="appService" ng-change="selectedServiceApplcationServiceName(appService)"
					ng-options="instance.serviceName for instance in subServiceArray">
						<option value="">Select Service</option>

				</select></td>
			</tr>
			<!-- <tr ng-repeat="version in appVersion ">
				<td>{{version.app_version}}</td>
				<td>{{version.app_releaseDate}}</td>
			</tr> -->
		</table><br>

		<table class="table table-striped table-bordered" ng-show ="serviceTable">
			<!-- table for displaying versions -->
			<tr>
				<th class="col-sm-2">Service Version</th>
				<th class="col-sm-2">Release date</th>
			</tr>
			<tr ng-repeat="serviceVersion in serviceVersions track by $index">

				<td><label> <input type="checkbox" name="versions"
						value="{{serviceVersion.serviceVersion}}" ng-click="selectedServiceVersion(serviceVersion)">{{serviceVersion.serviceVersion}}
				</label></td>
				<td>{{serviceVersion.ReleaseDate}}</td>
			</tr>
		</table>
		</div>
		
<!-- 		Application service data
 -->		
 		<div ng-show="!showHideRadio">
		<table class="table table-striped table-bordered">
			<!-- table for displaying versions -->
			<tr>
				<th class="col-sm-2">Application Version</th>
				<th class="col-sm-2">Release date</th>
			</tr>
			<tr ng-repeat="name in applicationArray track by $index">

				<td><label> <input type="checkbox" name="versions"
						value="{{name.appVersion}}" ng-checked="selection.indexOf(name.appVersion) > -1" ng-click="selectedApplicationVersion(name)">{{name.appVersion}}
				</label></td>
				<td>{{name.ReleaseDate}}</td>
			</tr>
		</table>
 		</div>
 
		
		
		<!-- End table for displaying versions -->
		<button ng-show="showButton" type="button" ng-click="showPlot()"
			class="btn btn-primary">Compare</button>

		<div id="scatter-load" align="center">
		</div>
	</div>
</body>
</html>
