 {
  "apache": [
    {
      "app_name":"{{appname}}"
      "host_name"  : "{{apachehostname}}",
      "host_ip"    : "{{apacheip}",
      "port"       : "{{apacheport}}",
      "kairodb_host": "{{tsdbhost}}",
      "kairodb_port": "{{tsdbport}}",
      "time_interval": "5000"
    }
  ]
}

